body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.left-container {
  width: 50%;
  height: 100vh;
  float: left;
  background-color: #f7f7f7;
}
.right-container {
  width: 50%;
  float: left;
  padding: 40px;
  box-sizing: border-box;

  form {
    width: 400px;
    margin: 35% 0 0 0;
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
    text-indent: 10px;
    font-size: 16px;
    box-sizing: content-box;
    border: 1px solid #000;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin: 0;
    margin-right: 6px;
    accent-color: black;
  }

  .rememberMe {
    display: flex;
    margin-bottom: 8px;
  }

  button {
    margin-top: 10px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px 32px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.sidebar {
  border-right: 1px solid #c9c4c4;
  // background-color: #f7f7f7;
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0;

  .navigation {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          padding: 16px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }

  .sidebar-close {
    display: block;
    padding: 14px 16px;
    text-align: right;
    border-bottom: 1px solid #c9c4c4;
    button {
      border: 1px solid #c9c4c4;
      padding: 4px 10px;
      font-size: 20px;
      background-color: #fff;
      border-radius: 100%;
      cursor: pointer;
      color: #c9c4c4;
    }
  }
}

.container {
  float: right;
  width: calc(100% - 300px);
  margin-left: 300px;
  box-sizing: border-box;

  .user-name {
    text-align: right;
    border-bottom: 1px solid #c9c4c4;
    padding: 20px 20px;
    a {
      padding-left: 10px;
    }
  }
  #displayname {
    text-align: right;
    text-transform: capitalize;
  }
}

.footer {
  margin-top: 2em;
}
